<%- include("partials/header.ejs") %>

  <main class="content-wrapper">
    <section class="hero">
      <h2 class="hero-title">Notes</h2>
    </section>

    <form class="book-form" action="/submit-book" method="POST">
      <div class="form-group form-group-inline">
        <label for="book-isbn" class="form-label">ISBN</label>
        <input type="number" id="book-isbn" name="isbn" placeholder="ISBN (10 or 13)..." class="input-sub">
        <button type="button" id="isbn-search-btn" class="search-btn">Search</button>
      </div>
      <div class="form-group">
        <label for="book-title" class="form-label">Book Title</label>
        <input type="text" id="book-title" name="title" placeholder="Name of the book..." class="input-title" required>
      </div>
      <div class="form-group">
        <label for="book-summary" class="form-label">Summary</label>
        <textarea id="book-summary" name="summary" placeholder="Scribble a summary of the book..." class="input-summary"></textarea>
      </div>
      <div class="form-group">
        <label for="book-body" class="form-label">Notes</label>
        <textarea id="book-body" name="content" placeholder="Type out imaginative thoughts here..." class="input-main"></textarea>
      </div>

      <div class="form-group">
        <label class="form-label">Rating</label>
        <div class="book-rating">
          <% for(let i = 1; i <= 10; i++) { %>
            <input type="radio" name="rating" value="<%= i %>" id="rate-<%= i %>" class="radio-input" required>
            <label for="rate-<%= i %>" class="rating-button"><%= i %></label>
          <% } %>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="submit-btn">Publish Notes</button>
      </div>
    </form>
  </main>

<%- include("partials/footer.ejs") %>